* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.displayFlex {
  display: flex;
}
.spaceBetween {
  justify-content: space-between;
}
.flexColumn {
  flex-direction: column;
}
.width-100 {
  width: 99%;
}

a {
  text-decoration: none;
  color: inherit;
}
html {
  max-width: 1920px;
  max-height: 1080px;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/fonts/HelveticaNeue.ttc") format("truetype");
}
.marginTop {
  margin-top: 12px !important;
}
body {
  position: relative;
  background: #f9f9f9;
  display: flex;
  justify-content: space-between;
}

/* left side content  */
.left-container {
  width: 50%;
}
.for-duplication {
  margin-left: 78px;
  padding-right: 20px;
  width: 130%;
}

/* Headline  */

.header {
  display: flex;
}
.leftward-arrow {
  display: block;
  padding: 42px 0px 0px 62px;
}
.head-line {
  display: flex;
  height: 88px;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  border-bottom: 1px solid #1a1a1a;
}
.h6-single-element {
  width: 30px !important;
}
.placehodler{
  color : rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-family: 'Helvetica Neue';
}
.head-line > * {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  /* off black */

  color: #1a1a1a;
  padding-bottom: 12px;
}
/* END OF Headline  */

/* form field  */

.experience-info {
  width: 100%;
  margin-top: 69px;
}

.add-form {
  display: block;

  border: none;
  background: #62a1eb;
  border-radius: 4px;
  width: 289px;
  height: 48px !important;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 42px;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}
.add-form-div {
  padding-bottom: 40px;
  padding-top: 40px;
  margin-top: 50px;
  margin-bottom: 85px;
  border-top: 2px solid #c1c1c1;
}

label {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  width: 80% !important;
  color: #000000;
}
.name-div,
.endDataDiv {
  width: 47%;
}
#endData {
}
.name-div > *:first-child {
  margin-bottom: 8px;
  height: 21px;
}

.name-div > *:nth-child(2) {
  height: 48px;
  margin-bottom: 8px;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
}
.name-div > *:nth-child(3) {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #2e2e2e;
  height: 21px;
}
.endDataDiv > *:first-child {
  margin-bottom: 8px;
  height: 21px;
}
.endDataDiv > *:nth-child(2) {
  margin-bottom: 8px;
  text-indent: 16px;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  height: 48px;
}
.endDataDiv > *:nth-child(3) {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #2e2e2e;
  height: 21px;
}

#fName::placeholder {
  padding: 0px 13px 14x 16px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
  height: 21px;
  width: 339px;
  border-radius: nullpx;
}
#lastName::placeholder {
  padding: 0px 13px 14x 16px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
  height: 21px;
  width: 339px;
  border-radius: nullpx;
}
.displayBlock {
  display: block;
}

.paddingRight {
  padding-right: 20px;
}

.dataField {
  margin-top: 40px;
}

.descriptionDiv {
  margin-top: 30px;
}
.aboutMeLabel {
  margin-bottom: 8px !important;
}

.descriptionClass {
  height: 113px;
  width: 99%;
  border-radius: 4px;
  border: 1px solid #bcbcbc;
  background: #ffffff;
  padding: 13px 16px 69px 0px;
  resize: none;
}

textarea::placeholder {
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.position-div {
  margin-top: 33px;
}
h6 {
  width: 70% !important;
}
.marginBottom {
  margin-bottom: 16px !important;
}
.marginBottom8px {
  margin-bottom: 8px !important;
}
.margineTop {
  margin-top: 30px;
}

.position-div > :first-child {
  margin-bottom: 8px;
}
.position-div > :nth-child(3) {
  margin-top: 8px;
  width: 798px;
  height: 21px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #2e2e2e;
}
.position-class {
  width: 99%;
  height: 48px;
  /* background: #FFFFFF; */
  border: 1px solid #bcbcbc;
  border-radius: 4px;
}
.position-class::placeholder {
  height: 21px;
  padding: 13px 16px 14px 0px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}
.employee-class {
  margin-top: 29px;
}
.employeeDiv > :first-child {
  height: 21px;
  width: 798px;
  border-radius: nullpx;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 8px;
}
.employeeDiv > :nth-child(2) {
  width: 99%;
  height: 48px;

  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
}
.employeeDiv > :nth-child(2)::placeholder {
  height: 21px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
  padding: 13px 16px 14px 0px;
}
.employeeDiv > :nth-child(3) {
  width: 798px;
  height: 21px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #2e2e2e;
  margin-top: 8px;
}
.absolutePosition {
  position: absolute;
  z-index: -1;
}
.submitDivExperience {
  display: flex;
  margin-top: 110px;
  margin-bottom: 65px;
  justify-content: space-between;
}
.submitDivExperience button {
  padding: 14px 35px;
  gap: 20px;
  width: 151px;
  height: 48px;
  background: #6b40e3;
  border-radius: 4px;
  border: none;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #ffffff;
  cursor: pointer;
}
.submitDivExperience a {
  padding: 14px 25px;
  gap: 20px;
  width: 151px;
  height: 48px;
  background: #6b40e3;
  border-radius: 4px;
  border: none;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
}

.inputStayling {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  text-indent: 16px;
}

/**************************** right side output  *************************/

.right-container {
  width: 40%;
}

.ouput-info {
  margin-top: 68px;
}
.ouput-info > :first-child {
  width: 400px;
}
.fName,
.lastName {
  margin-right: 20px;
  font-family: Helvetica Neue;
  font-size: 34px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  height: 42px;
  width: auto;

  color: #f93b1d;
  text-align: start;
}

.ouput-info > :nth-child(2) {
  list-style: none;
  padding: 17px 0px;
}
.ouput-info > :nth-child(2) li {
  padding: 10px 0px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  /* off black */

  color: #1a1a1a;
}
.ouput-info > :nth-child(2) > li:first-child::before {
  vertical-align: middle;
  padding-right: 10px;
  content: url(/assets/images/material-symbols_alternate-email.png);

  background-size: cover;
}
.ouput-info > :nth-child(2) > li:nth-child(2)::before {
  vertical-align: middle;
  padding-right: 10px;
  content: url(/assets/images/Group.png);

  background-size: cover;
}
.ouput-info h4 {
  margin-top: 34px;
  margin-bottom: 15px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #f93b1d;
}

.ouput-info p {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: lowercase;
  color: #000000;
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
  width: 600px;
}
.output-photo {
  position: absolute;
  right: 2%;
}
.output-photo img {
  margin-top: 48px;
  margin-right: 15px;

  width: 246px;
  height: 246px;
  object-fit: cover;
  border-radius: 50%;
}

.end-star {
  position: absolute;
  bottom: 4%;
  right: 98%;
}

.aboutMes {
  border-bottom: 2px solid #c8c8c8;
  padding-bottom: 20px;
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
}

.experience-output-div {
  position: absolute;
  top: 450px;
}
.experience-output {
  width: 143px;
  height: 22px;
  left: 80px;
  top: 365px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;

  color: #f93b1d;
}

.position-output {
  padding-right: 8px;
  width: auto;
  height: 20px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  /* off black */

  color: #1a1a1a;
}
.employee-output {
  width: auto;
  height: 20px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  /* off black */

  color: #1a1a1a;
}

.justHypen {
  padding: 0px 8px;
}
.data-output * {
  font-family: "Helvetica Neue";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #919191;
}
.description-output {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  color: #000000;
  width: 400px;
  margin-top: 14px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.borderTOPs {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 250px;
  border-top: 2px dotted #c8c8c8 !important;
}

/* VALIDATION STYLING */

.hide {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
.borderColorRed {
  border: 1px solid #ef5050 !important;
}
.labelColorRed {
  color: #e52f2f !important;
}
.borderColorGreen {
  border: 1px solid #98e37e !important;
}
.iconGreen {
  background-image: url(/assets/images/Vector.png) !important;
  background-repeat: no-repeat !important;
  background-position: 99% 50% !important;
}
.iconGreen2 {
  background-image: url(/assets/images/Vector.png) !important;
  background-repeat: no-repeat !important;
  background-position: 99% 50% !important;
}
.relative {
  position: relative;
}
.invalid {
  position: absolute;
  left: 101%;
  top: 36%;
  background-image: url(/assets/images/redvector.png);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 25px;
  height: 25px;
}
